[submodule "coremark/cm.src/upstream"]
	path = coremark/cm.src/upstream
	url = https://github.com/eembc/coremark.git
[submodule "cc-sort-with-rev"]
	path = cc-sort-with-rev
	url = https://github.com/akashkollipara/cc-sort-with-rev.git
[submodule "cc-swap-no-temp"]
	path = cc-swap-no-temp
	url = https://github.com/akashkollipara/cc-swap-no-temp.git
